* {
    margin: 0;
    padding: 0;

}



.window-sentings{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-sentings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    height: 125px;
    border-bottom:  1px solid black;
}

.title-sentings h1, i {
    padding: 0 30px;
}

.title-sentings i {
    font-size: 40px;
}

.configs-time {
    padding: 10px 0;
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom:  1px solid black;
}

#box-number {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

#box-number input{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    background-color: #eef1fa;
    border-color: white;
}

#title-time {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

#title-time p{
    width: 150px;

}
.font {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 125px;
    align-items: center;
    border-bottom: 1px solid black;
}

#font-escolha, #color-escolha{
    display: flex;
    align-items: center;
}

#font-escolha p{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #eef1fa;
    color: black;
    margin: 0 10px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#color-escolha p {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    margin: 0 10px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

#font-escolha p:hover, #color-escolha p:hover {
    border: solid 1px black;
}


.font h1,  .color h1, .configs-time h1{
    padding-left: 10px;
}

.color{
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#apply-button{
    position: absolute;
    top: 95%;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #eef1fa;
    font-size: 20px;
    cursor: pointer;
}

#principal {
    background-color: #1e2140;
    width: 100%;
    height: 100vh;
}

#c1 {
    background-color: #f8706f;
}

#c2 {
    background-color: #6ff3f8;
}

#c3 {
    background-color: #1e2140;
}

#f1{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#f2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#f3{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

i {
    cursor: pointer;
}