* {
    margin: 0;
    padding: 0;

}

.window-sentings{
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-sentings {
    background-color: pink;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    height: 125px;
    border-radius: 20px;
}

.title-sentings h1, i {
    padding: 0 30px;
}

.title-sentings i {
    font-size: 40px;
}

.configs-time {
    padding: 10px 0;
    height: 125px;
    background-color: blueviolet;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#box-number {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

#box-number input{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

#title-time {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

#title-time p{
    width: 150px;

}
.font {
    background-color: brown;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 125px;
    align-items: center;
}

#font-escolha, #color-escolha{
    display: flex;
    align-items: center;
}

#font-escolha p, #color-escolha p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0 10px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.font h1,  .color h1{
    padding-left: 10px;
}

.color{
    height: 125px;
    width: 100%;
    background-color: chartreuse;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.window-sentings button {
    position: absolute;
    top: 95%;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: yellow;
    font-size: 20px;
}